<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/header :: header-head}"></div>
</head>
<body>
<div th:replace="~{layout/header :: header-nav}"></div>

<div class="container">
    <h2 th:text="${project.title}">Project Detail</h2>
    <p th:text="${project.description}" style="color: #94a3b8;"></p>
    <a th:href="@{'/logo/generate?projectId=' + ${project.id}}" class="btn-primary" style="display: inline-block; text-decoration: none;">Generate New Logo</a>
</div>

<div th:replace="~{layout/footer :: footer-content}"></div>
</body>
</html>
